<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link id="themeColors" rel="stylesheet" href="assets/css/style.min.css" />
    <link rel="stylesheet" href="assets/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="shortcut icon" type="image/x-icon" href="assetstwo/images/favicon.png">
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="index.html" class="text-nowrap logo-img">
                        <img src="assets/images/profile/logo-dark.png" class="dark-logo" width="220" alt="" />
                    </a>
                    <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8 text-muted"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar>
                    <ul>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu"></span>
                        </li>
                    </ul>
                    <ul id="sidebarnav"></ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            {% include './Header.html' %}
            {% block header %}{% endblock %}
            <!--  Header End -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 d-flex align-items-stretch" style="height: 228px;">
                        <div class="card w-100 bg-light-info overflow-hidden shadow-none">
                            <div class="card-body position-relative">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="d-flex align-items-center mb-7">
                                            <div class="rounded-circle overflow-hidden me-6">
                                                <img src="assets/images/profile/user-1.jpg" alt="" width="40"
                                                    height="40">
                                            </div>
                                            <h5 class="fw-semibold mb-0 fs-5">Welcome back Admin!</h5>
                                        </div>
                                        <div class="d-flex align-items-center">


                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="welcome-bg-img mb-n7 text-end">
                                            <img src="assets/images/profile/mainuser.png" alt="" class="img-fluid"
                                                width="240px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <h3 class="my-3">Add Journal <i class="fa-solid fa-circle-info" title=""></i></h3>
                            <div class="col-md-6 col-sm-12 col-12 my-4">
                                <label for="">Journal Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="journalTitle">
                            </div>
                            <div class="col-md-6 col-sm-12 col-12 my-4">
                                <label for="MainCategoryID">Select Main Category<span
                                        class="text-danger">*</span></label>
                                <select name="typesOfArticles" class="form-select" id="MainCategoryID">
                                    <option selected>Open this select menu</option>
                                    <option value="Science">Science</option>
                                    <option value="Engineering">Engineering</option>
                                    <option value="Health">Health</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-12 col-12 my-4">
                                <label for="issnNumber">ISSN Number<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="issnNumber">
                            </div>
                            <div class="col-md-6 col-sm-12 col-12 my-4">
                                <label for="ImpactFactorValueID">Impact Factor Value<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="ImpactFactorValueID">
                            </div>
                            <div class="col-md-6 col-sm-12 col-12 my-4">
                                <label for="NLMCodeID">NLM Code<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="NLMCodeID">
                            </div>
                            <div class="col-md-6 col-sm-12 col-12 my-4">
                                <label for="JournalSlugID">Journal Slug <span class="text-danger">(Will be generated
                                        automatically)</span></label>
                                <input type="text" class="form-control" id="JournalSlugID" disabled>
                            </div>
                            <!-- <div class="col-md-12 col-sm-12 col-12 my-4">
                                <label for="">Cover Banner <span class="text-danger">*</span></label>
                                <input type="file" accept=".jpg, .jpeg, .png" class="form-control"
                                    id="CoverBannerFileID" />
                            </div> -->
                            <div class="col-md-12 my-4" id="aboutJournalContainer"></div>
                            <div class="col-md-12">
                                <div class="alert alert-danger validationalert d-none" role="alert"></div>
                                <button class="btn btn-primary float-end primaryBtnCs" onclick="saveData()">Save
                                    Journal</button>
                            </div>
                            <div class="col-12 my-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  Mobilenavbar -->
        {% include './MobileSideNavbar.html' %}
        {% block MobileSideNavbar %}{% endblock %}
    </div>

    <!-- JS FILES -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--  core files -->
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/app.init.js"></script>
    <script src="assets/js/app-style-switcher.js"></script>
    <script src="assets/js/sidebarmenu.js"></script>
    <script src="assets/js/custom.js"></script>
    <!--  current page js files -->
    <script src="assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
    <!-- <script src="assets/libs/apexcharts/dist/apexcharts.min.js"></script> -->
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/ckeditor/ckeditor.js"></script>
    <script src="js/common.js"></script>
    <script src="js/sideNavCreater.js"></script>
    <script src="js/ckEditorClass.js"></script>
    <script src="js/addJournal.js"></script>
</body>

</html>