{% block metaPart %}
<div class="col-md-12 col-sm-12 col-12 my-4" id="descriptionArea">
    <!-- <label for="">Add Description <span class="text-danger">*</span></label>
    <textarea name="" id="descriptionID" cols="30" rows="10"></textarea> -->
</div>
<div class="col-md-12 col-sm-12 col-12 my-4">
    <label for="">Meta Keywords <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="TagsID">
</div>
<div class="col-md-12 col-sm-12 col-12 my-4">
    <label for="">Meta Title<span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="metaTitleID">
</div>
{% endblock %}