{% block Footer%}
<footer class="edu-footer footer-lighten bg-image footer-style-1 p-0" style="background-color:#FFFFF7;">
  <div class="footer-top p-5" style="text-align: center">
    <div class="container mt-4">
      <div class="row g-5">
        <div class="col-lg-2 col-md-12" style="margin-top: 10px">
          <div class="edu-footer-widget">
            <div class="logo">
              <a href="/">
                <img
                  class="logo-light"
                  src="../assetstwo/images/logo/logo-dark.png"
                  style="height: 45px; width: 150px"
                  alt="Rscope Logo "
                />
                <img
                  class="logo-dark"
                  src="../assetstwo/images/logo/logo-white.png"
                  alt="Rscope Logo "
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-sm-12 edu-footer-widget">
          <a href="#" target="_blank">About Us</a>
        </div>
        <div class="col-lg-2 col-sm-12 edu-footer-widget">
          <a href="/use-terms" target="_blank">User-Terms</a>
        </div>
        <div class="col-lg-1 col-sm-12 edu-footer-widget">
          <a href="/contact-us" target="_blank">Contact Us</a>
        </div>
        <div class="col-lg-2 col-sm-12 edu-footer-widget">
          <a href="/terms-condition" target="_blank">Terms & Conditions</a>
        </div>
        <div class="col-lg-2 col-sm-12 edu-footer-widget">
          <a href="/privacy-policy" target="_blank">Privacy & Policy</a>
        </div>
        <div class="col-lg-1 col-sm-12 edu-footer-widget">
          <a href="https://www.linkedin.com/your-profile" target="_blank">
              <i class="fab fa-linkedin" style="font-size: 24px; color: #0077b5;" ></i>
          </a>
      </div>
      
      </div>
    </div>
  </div>
  <div class="copyright-area" style="background-color:white;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner text-center">
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
              <p>All site content is licensed under Creative Commons Attribution (CC BY) license, Copyright2023 All Rights Reserved</p></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  {% set journalDocvar = journalDoc %}
  <h1 id="JournalDataElm" class="d-none">{{journalDocvar}}</h1>
</footer>
{% endblock %}

<!--{% block Footer%}-->
<!--<footer class="edu-footer footer-lighten bg-image footer-style-1 p-5">-->
<!--    <div class="footer-top p-5">-->
<!--        <div class="container">-->
<!--            <div class="row g-5">-->
<!--                <div class="col-lg-5 col-md-6">-->
<!--                    <div class="edu-footer-widget">-->
<!--                        <div class="logo">-->
<!--                            <a href="index.html">-->
<!--                                <img class="logo-light" src="../assetstwo/images/logo/logo-dark.png"-->
<!--                                    alt="Rscope Logo ">-->
<!--                                <img class="logo-dark" src="../assetstwo/images/logo/logo-white.png"-->
<!--                                    alt="Rscope Logo ">-->
<!--                            </a>-->
<!--                        </div>-->
<!--<p class="description">designed to simplify and enhance your scholarly publishing experience.</p>-->
<!--<div class="widget-information">-->
<!--    <ul class="information-list">-->
<!--        <li><span>Add:</span>Manjeera Corporate, Hyd , Ind</li>-->
<!--        <li><span>Call:</span><a href="tel:+011235641231">+01 123 564 7891 </a></li>-->
<!--        <li><span>Email:</span><a href="mailto:info@catalyst.com"-->
<!--                target="_blank">rscope.org@gmail.com</a></li>-->
<!--    </ul>-->
<!--</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-6">-->
<!--                    <div class="edu-footer-widget explore-widget">-->
<!--                        <h4 class="widget-title">Quick Links</h4>-->
<!--<div class="inner">-->
<!--    <ul class="footer-link link-hover">-->
<!--        <li><a href="aims-and-scope">Aims & Scope</a></li>-->
<!--        <li><a href="editorial-board">Editorial Board</a></li>-->
<!--        <li><a href="author-guide">Instructions for Authors</a></li>-->
<!--        <li><a href="article-processing-fee">Article Processing Charge</a></li>-->
<!--    </ul>-->
<!--</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-sm-6">-->
<!--                    <div class="edu-footer-widget quick-link-widget">-->
<!--                        <h4 class="widget-title">Links</h4>-->
<!--                        <div class="inner">-->
<!--                            <ul class="footer-link link-hover">-->
<!--                                <li><a href="https://rscope.org/contact">Contact Us</a></li>-->
<!--                                <li><a href="https://rscope.org/terms">Terms & conditions</a></li>-->
<!--                                <li><a href="https://rscope.org/jornals">Journals</a></li>-->
<!--                                <li><a href="https://rscope.org/privacy">Privacy & Policy</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="copyright-area">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->

<!--                    <div class="inner text-center">-->
<!--                        <p>-->
<!--                                 All site content is licensed under a Creative Commons Attribution ( CC BY) license </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--{% endblock %}-->
