<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Connect with Rscope let's Collaborate for Open Access Success</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assetsthree/images/favicon.png"
    />
    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assetsthree/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="assetsthree/css/vendor/icomoon.css" />
    <link rel="stylesheet" href="assetsthree/css/vendor/remixicon.css" />
    <link rel="stylesheet" href="assetsthree/css/vendor/magnifypopup.min.css" />
    <link rel="stylesheet" href="assetsthree/css/vendor/odometer.min.css" />
    <link rel="stylesheet" href="assetsthree/css/vendor/lightbox.min.css" />
    <link rel="stylesheet" href="assetsthree/css/vendor/animation.min.css" />
    <link rel="stylesheet" href="assetsthree/css/vendor/jqueru-ui-min.css" />
    <link rel="stylesheet" href="assetsthree/css/vendor/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assetsthree/css/vendor/tipped.min.css" />

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assetstwo/css/app.css" />

    <style>
        @media (max-width: 768px) {
            .mt{
                margin-top:20px;
            }
          }
        p{
            margin-bottom:0px;
        }
    </style>
  </head>

  <body class="sticky-header">
 

    <div id="edublink-preloader">
      <div class="loading-spinner">
        <div class="preloader-spin-1"></div>
        <div class="preloader-spin-2"></div>
      </div>
      <div class="preloader-close-btn-wraper">
        <span class="btn btn-primary preloader-close-btn">
          Cancel Preloader</span
        >
      </div>
    </div>

    <div id="main-wrapper" class="main-wrapper">
      <!--=====================================-->
      <!--=        Header Area Start          =-->
      <!--=====================================-->
            <header class="edu-header header-style-1 header-fullwidth no-topbar">
    <div id="edu-sticky-placeholder"></div>
    <div class="header-mainmenu height">
        <div class="container-fluid">
            <div class="header-navbar paddingtop">
                <div class="header-brand ml-3">
                    <div class="logo">
                        <a href="/" onclick="dynamicnavigationHeader()">
                            <img class="logo-light" src="../assetstwo/images/logo/logo-dark.png" alt="Rscope Logo">
                            <img class="logo-dark" src="../assetstwo/images/logo/logo-dark.png" alt="Rscope Logo">
                        </a>
                    </div>
                </div>
                <div class="header-mainnav">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li><a href="https://rscope.org/journals" target="_blank">All Journals</a></li>
                            <li><a href="https://rscope.org/journals" target="_blank">All Articles</a></li>
                            <li><a href="https://rscope.org" target="_blank">About us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right mr-3">
                    <ul class="header-action">
                        <li class="header-btn">
                            <a href="https://rems.rscope.org/" target="_blank" style="color: black;
                            width: 210px;
                            border-style: solid;
                            border-width: 2px;
                            padding: 15px;
                            border-radius: 15px;
                            font-size: 13px;
                            border-color: #e77821;
                            
                            font-weight: 500;">Register/Login/Submit</a>
                            
                        </li>
                        <li class="mobile-menu-bar d-block d-xl-none">
                            <button class="hamberger-button">
                                <i class="icon-54"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo">
                    <a href="/">
                        <img class="logo-light" src="../assetsthree/images/logo/logo-dark.png" alt="Rscope Logo" style="height: 30px;">
                        <img class="logo-dark" src="../assetsthree/images/logo/logo-white.png" alt="Rscope Logo">
                    </a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="icon-73"></i>
                    </button>
                </div>
            </div>
            
            <div class="content p-5" style="background-color: #fff;">
                <h5 class="widget-title"><a href="https://rscope.org/journals"  target="_blank" style="color: black;">All Journals</a></h5>

                <!-- class="underline-link" -->

                <div style="display: block;
                width: 60%;
                height: 2px;
                background-color: #ccc; /* Change the color as needed */
                margin: 10px 0; "></div>
                
                <h5 class="widget-title pt-3"><a href="https://rscope.org/journals" target="_blank"  style="color: black;">All Articles</a></h5>

                <div style="display: block;
                width: 60%;
                height: 2px;
                background-color: #ccc; /* Change the color as needed */
                margin: 10px 0; "></div>
                  
                <h5 class="widget-title pt-3"><a href="https://rscope.org" target="_blank" style="color: black;">About us</a></h5>


                
            </div>
            

            
        </div>
    </div>

    <!-- Start Search Popup  -->    
    <div class="edu-search-popup">
        <div class="content-wrap">
            <div class="site-logo">
                <img class="logo-light" src="../assetsthree/images/logo/logo-dark.png" alt="Rscope Logo">
                <img class="logo-dark" src="../assetsthree/images/logo/logo-white.png" alt="Rscope Logo">
            </div>
            <div class="close-button">
                <button class="close-trigger"><i class="icon-73"></i></button>
            </div>
            <div class="inner">
                <form class="search-form" action="#">
                    <input type="text" class="edublink-search-popup-field" placeholder="Search Here...">
                    <button class="submit-button"><i class="icon-2"></i></button>
                </form>
            </div>
        </div>
    </div>
</header>
<script>
    function dynamicnavigationHeader() {
      let JournalInfo = JSON.parse(localStorage.getItem("JournalInfo"));
      if (JournalInfo && JournalInfo.JournalSlug) {
        window.location.href = `/${JournalInfo.JournalSlug}`;
      }
    }
  </script>
      <!--=====================================-->
      <!--=       Breadcrumb Area Start      =-->
      <!--=====================================-->

      <div class="edu-breadcrumb-area">
        <div class="container">
          <div class="breadcrumb-inner">
            <div class="page-title">
              <h1 class="title">Contact Us</h1>
            </div>
            
          </div>
        </div>
        <ul class="shape-group">
          <li class="shape-1">
            <span></span>
          </li>
          <li class="shape-2 scene">
            <img
              data-depth="2"
              src="assetsthree/images/about/shape-13.png"
              alt="shape"
            />
          </li>
          <li class="shape-3 scene">
            <img
              data-depth="-2"
              src="assetsthree/images/about/shape-15.png"
              alt="shape"
            />
          </li>
          <li class="shape-4">
            <span></span>
          </li>
          <li class="shape-5 scene">
            <img
              data-depth="2"
              src="assetsthree/images/about/shape-07.png"
              alt="shape"
            />
          </li>
        </ul>
      </div>

      <!--=====================================-->
      <!--=       Contact Me Area Start       =-->
      <!--=====================================-->
      <section class="contact-us-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="contact-us-info mb-3">
                <div>
                  <div class="content">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12" style="margin-left: 24px;">
                        <h4
                          class="cs_section_title cs_font_24 cs_semi_bold fadeInUp"
                          data-wow-duration="0.8s"
                          data-wow-delay="0.2s"
                        >
                          <span class="cs_accent_color"> <span class="pe-4"><img  src="./assetsthree/images/others/united-states.png" alt="" srcset=""></span>America :</span>
                        </h4>
                        <p>155 Willowbrook BLVD STE 110 4312 Wayne, NJ 07470</p>
                        <p>NJ, USA</p>
                        <label><i class="fa fa-phone"></i> <a href="tel:+1 (251) 325-6568">tel :+1 (251) 325-6568</a></label>
                    
                        <label><i class="fa fa-envelope"></i><a href="mailto:contact@rscope.org">Mail Id : contact@rscope.org</a></label>
                       
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12" style="margin-left: 24px; margin-top: 20px;">
                        <h4
                          class="cs_section_title cs_font_24 cs_semi_bold fadeInUp"
                          data-wow-duration="0.8s"
                          data-wow-delay="0.2s"
                        >
                          <span class="cs_accent_color"><img class="pe-4" src="/assetsthree/images/others/european-union.png" alt="" srcset="">Europe :</span>
                        </h4>
                        <p>198 Avenue De France,</p>
                        <p>Paris,75013,France.</p>
                   
                        <label><i class="fa fa-envelope"></i><a href="mailto:contact@rscope.org">Mail Id : contact@rscope.org</a></label>
                   
                         </div>
                      <div class="col-md-6 col-sm-6 col-xs-12" style="margin-left: 24px; margin-top: 20px;">
                        <h4
                          class="cs_section_title cs_font_24 cs_semi_bold fadeInUp mt-3"
                          data-wow-duration="0.8s"
                          data-wow-delay="0.2s"
                        >
                          <span class="cs_accent_color"> <img class="pe-4" src="/assetsthree/images/others/china.png" alt="" srcset="">China:</span>
                        </h4>
                        <p>〒 101-8656</p>
                        <p>1603 Capitol Ave Suite 413Cheyenne, WY 82001</p>
                       
                        <label
                          ><i class="fa fa-envelope"></i> <a href="mailto:contact@rscope.org">Email Id : contact@rscope.org</a>
                        </label>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt">
              <div class="contact-form form-style-2" style="margin-bottom: 15px;">
                <div class="section-title">
                  <h4 class="title">Get In Touch</h4>
                  <p>
                    Fill out this form for booking a consultant advising
                    session.
                  </p>
                </div>
                
                <form
                  clas="rnt-contact-form rwt-dynamic-form"
                  method="post"
                  action="#"
                  validate
                >
                  <div class="messages"></div>
                  <div class="">
                    <ul class="form-feartures">
                      <li class="form-list">
                        <div class="form-check mb-2">

                          

                          <input
                            class="btn-check"
                            type="radio"
                            name="flexRadio"
                            id="flexRadioDefault1"
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="flexRadioDefault1"
                          >
                            Manuscript Status
                          </label>
                        </div>
                      </li>

                      <li class="col-6 form-list">
                        <div class="form-check mb-2">
                          <input
                            class="btn-check"
                            type="radio"
                            name="flexRadio"
                            id="flexRadioDefault2"
                            checked
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="flexRadioDefault2"
                          >
                            Reviewer Board Realated
                          </label>
                        </div>
                      </li>
                      <li class="col-6 form-list ">
                        <div class="form-check mb-2">
                          <input
                            class="btn-check"
                            type="radio"
                            name="flexRadio"
                            id="flexRadioDefault5"
                            checked
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="flexRadioDefault5"
                          >
                            Generic questions
                          </label>
                        </div>
                      </li>
                      <li class="col-6 form-list">
                        <div class="form-check mb-2">
                          <input
                            class="btn-check"
                            type="radio"
                            name="flexRadio"
                            id="flexRadioDefault3"
                            checked
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="flexRadioDefault3"
                          >
                            Editorial Board Realated
                          </label>
                        </div>
                      </li>
                      <li class="col-lg-6 form-list">
                        <div class="form-check mb-2">
                          <input
                            class="btn-check"
                            type="radio"
                            name="flexRadio"
                            id="flexRadioDefault4"
                            checked
                          />
                          <label
                            class="btn btn-outline-primary"
                            for="flexRadioDefault4"
                          >
                            Manuscript Submit
                          </label>
                        </div>
                      </li>
                    </ul>

                    <div class="col-md-12">
                      <div class="form-select-wrapper mb-4">
                        <select
                          class="form-select"
                          id="form-select"
                          name="journals-list"
                        >
                          <option selected disabled value="">
                            Select Journal Name
                            <strong>*</strong>
                          </option >
                          <option value="Sales">Sciences</option>
                          <option value="Marketing">Engineering</option>
                          <option value="Customer Support">Health</option>
                        </select>

                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                          Please select a department.
                        </div>
                      </div>
                    </div>
                    <div class="row gx-4">
                      <div class="col-md-12" id="additional-field"></div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-floating mb-4">
                        <input
                          id="form_name"
                          type="text"
                          name="name"
                          class="form-control"
                          placeholder="Jane"
                          required
                          style="box-sizing: border-box"
                        />
                        <label for="form_name">Enter your Subject *</label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                          Please enter your Title.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-floating mb-4">
                        <input
                          id="form_name"
                          type="text"
                          name="name"
                          class="form-control"
                          placeholder="Jane"
                          required
                          style="box-sizing: border-box"
                        />
                        <label for="form_name">Full Name *</label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                          Please enter your full name.
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-floating mb-4">
                        <input
                          id="form_email"
                          type="email"
                          name="email"
                          class="form-control"
                          placeholder="jane.doe@example.com"
                          required
                        />
                        <label for="form_email">Email *</label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                          Please provide a valid email address.
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-floating mb-4">
                        <textarea
                          id="form_message"
                          name="message"
                          class="form-control"
                          placeholder="Your message"
                          style="height: 120px"
                          required
                        ></textarea>
                        <label for="form_message">Message *</label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                          Please enter your messsage.
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12 col-sm-12">
                      <!-- <div class="col-lg-6">
                        <script src="https://www.google.com/recaptcha/api.js"></script>
                        <div class="form-group">
                          <input
                            class="form-floating d-none"
                            data-recaptcha="true"
                            required
                          />
                          <div
                            class="g-recaptcha"
                            data-sitekey="YOUR_SITE_KEY"
                            data-callback="verifyRecaptchaCallback"
                            data-expired-callback="expiredRecaptchaCallback"
                          ></div>
                          <div class="valid-feedback">Looks good!</div>
                          <div class="invalid-feedback">
                            Please complete the Captcha
                          </div>
                        </div>
                      </div> -->

                      <div class="col-lg-12">
                        <div class="form-check mb-4">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="invalidCheck"
                            required
                            value
                          />
                          <label class="form-check-lable" for="invalidCheck">
                            I agree to
                            <a
                              href="#"
                              class="hover"
                              style="text-decoration: underline"
                              >terms and policy</a
                            >.
                          </label>
                          <div class="invalid-feedback">
                            You must agree before submitting.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 mb-3 button">
                    <button type="submit"
                    class="btn btn-primary rounded-pill btn-send mb-3 "><span> Send Message </span> </button>
                    </div>
                  </div>
                </form>
                <ul class="shape-group">
                  <li class="shape-1 scene">
                    <img
                      data-depth="1"
                      src="assetsthree/images/about/shape-13.png"
                      alt="Shape"
                    />
                  </li>
                  <li class="shape-2 scene">
                    <img
                      data-depth="-1"
                      src="assetsthree/images/counterup/shape-02.png"
                      alt="Shape"
                    />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=====================================-->
      <!--=      Google Map Area Start        =-->
      <!--=====================================-->

      <!--=====================================-->
      <!--=        Footer Area Start          =-->
      <!--=====================================-->
      <!-- Start Footer Area  -->
      
      <!-- End Footer Area  -->
    </div>

    <div class="rn-progress-parent">
      <svg
        class="rn-back-circle svg-inner"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
      {% include './Footer.html' %}
    {% block Footer %}{% endblock %}

    <!-- JS
	============================================ -->
    <!-- Modernizer JS -->
    <script src="assetsthree/js/vendor/modernizr.min.js"></script>
    <!-- Jquery Js -->
    <script src="assetsthree/js/vendor/jquery.min.js"></script>
    <script src="assetsthree/js/vendor/bootstrap.min.js"></script>
    <script src="assetsthree/js/vendor/sal.min.js"></script>
    <script src="assetsthree/js/vendor/jquery.waypoints.js"></script>
    <script src="assetsthree/js/vendor/backtotop.min.js"></script>
    <script src="assetsthree/js/vendor/magnifypopup.min.js"></script>
    <script src="assetsthree/js/vendor/jquery.countdown.min.js"></script>
    <script src="assetsthree/js/vendor/jQuery.rProgressbar.min.js"></script>
    <script src="assetsthree/js/vendor/easypie.js"></script>
    <script src="assetsthree/js/vendor/odometer.min.js"></script>
    <script src="assetsthree/js/vendor/isotop.min.js"></script>
    <script src="assetsthree/js/vendor/imageloaded.min.js"></script>
    <script src="assetsthree/js/vendor/lightbox.min.js"></script>
    <script src="assetsthree/js/vendor/paralax.min.js"></script>
    <script src="assetsthree/js/vendor/paralax-scroll.min.js"></script>
    <script src="assetsthree/js/vendor/jquery-ui.min.js"></script>
    <script src="assetsthree/js/vendor/swiper-bundle.min.js"></script>
    <script src="assetsthree/js/vendor/svg-inject.min.js"></script>
    <script src="assetsthree/js/vendor/vivus.min.js"></script>
    <script src="assetsthree/js/vendor/tipped.min.js"></script>
    <script src="assetsthree/js/vendor/smooth-scroll.min.js"></script>
    <script src="assetsthree/js/vendor/isInViewport.jquery.min.js"></script>

    <!-- Site Scripts -->
    <script src="assetsthree/js/app.js"></script>
    <script>
        $(document).ready(function () {
          // Disable form-select initially
          $("#form-select").prop("disabled", true);
  
          $('input[name="flexRadio"]').change(function () {
            if ($("#flexRadioDefault5").is(":checked")) {
              $("#form-select").prop("disabled", true).prop("required", false);
            } else {
              $("#form-select").prop("disabled", false).prop("required", true);
            }
          });
        });
      </script>
      <script>
        $(document).ready(function () {
          $('input[type="radio"][name="flexRadio"]').change(function () {
            if (
              $(this).is(":checked") &&
              $(this).attr("id") === "flexRadioDefault1"
            ) {
              $("#additional-field").html(`
                <div class="col-lg-12">
                    <div class="form-floating mb-4">
                        <input id="form_manuscript" type="text" name="manuscript" class="form-control" placeholder="Manuscript Name or Submission ID" required>
                        <label for="form_manuscript">Manuscript Name  *</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the Manuscript Name or Submission ID.
                        </div>
                        
                    </div>
                </div>
            `);
            } else {
              $("#additional-field").empty();
            }
          });
        });
      </script>
   


   
      
      
  </body>

</html>
