<!DOCTYPE html>
<html class="no-js" lang="zxx">


<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rscope Collective Group: Advancing Knowledge Through Open Access</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assetstwo/images/favicon.png">
    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assetstwo/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assetstwo/css/vendor/icomoon.css">
    <link rel="stylesheet" href="assetstwo/css/vendor/remixicon.css">
    <link rel="stylesheet" href="assetstwo/css/vendor/magnifypopup.min.css">
    <link rel="stylesheet" href="assetstwo/css/vendor/odometer.min.css">
    <link rel="stylesheet" href="assetstwo/css/vendor/lightbox.min.css">
    <link rel="stylesheet" href="assetstwo/css/vendor/animation.min.css">
    <link rel="stylesheet" href="assetstwo/css/vendor/jqueru-ui-min.css">
    <link rel="stylesheet" href="assetstwo/css/vendor/swiper-bundle.min.css">
    <link rel="stylesheet" href="assetstwo/css/vendor/tipped.min.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assetstwo/css/app.css">

</head>

<body class="sticky-header">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->

    <div id="edublink-preloader">
        <div class="loading-spinner">
            <div class="preloader-spin-1"></div>
            <div class="preloader-spin-2"></div>
        </div>
        <div class="preloader-close-btn-wraper">
            <span class="btn btn-primary preloader-close-btn">
                Cancel Preloader</span>
        </div>
    </div>

    <div id="main-wrapper" class="main-wrapper">

        <!--=====================================-->
        <!--=        Header Area Start          =-->
        <!--=====================================-->
        {% include './MainHeaderHome.html' %}
    {% block MainHeaderHome %}{% endblock %}
        <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title" style="font-size:27px">Privacy Policy</h1>
                    </div>
                   
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assetstwo/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assetstwo/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assetstwo/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=           Cart Area Start         =-->
        <!--=====================================-->
        <section class="privacy-policy-area">
            <div class="container">
                <div class="row row--30">
                    <div class="col-lg-3">
                        <div class="cs_category cs_style_2 cs_white_bg cs_radius_10">
                          <ul class="cs_mp_0">
                            <li class="active"><a href="#item-1">Privicy and Policy</a></li>
                            <li><a href="#item-1">Protection of Your Information</a></li>
                            <li><a href="#item-2">Website Usage Information</a></li>
                            <li><a href="#item-3">User Accounts, Registration and Personalized Services</a></li>
                            <li><a href="#item-4">International Transfer of Personal Data</a></li>
                            <li><a href="#item-5">Your Rights</a></li>
                            <li><a href="#item-6">Linked Websites</a></li>
                            <li><a href="#item-7">Changes to the Privacy Policy</a></li>
                            <li><a href="#item-8">How To Contact Us</a></li>
                          </ul>
                        </div>
                      </div>
                
                    <div class="col-lg-9">
                        <div class="">
                          <div class="privacy-policy" id="item-1">
                            <h4 class="title">1. Privicy and Policy </h4>
                            <p class="cs_blog_title cs_font_17"> 1.1 We highly value the trust you place in Rscope Collective Group and are committed to safeguarding
                              your privacy. This policy outlines our efforts to protect your information, detailing
                              the data we collect, and how we utilize that information. Rscope Collective Group is an
                              open-access publisher, providing platforms for open scientific exchange. This Privacy
                              Policy is applicable to all our websites and services.</p>
                            
                          </div>
                          <div class="privacy-policy" id="item-2">
                            <h4 class="title">2. Protection of Your Information </h4>
                            <p class="cs_blog_title cs_font_17">2.1 All data collected from you on our websites is secured against unauthorized access by
                              third parties. We employ robust security technologies and physical safeguards to ensure
                              the utmost protection of your privacy.</p>
                            
                          </div>
                          <div class="privacy-policy" id="item-3">
                            <h4 class="title">3. Website Usage Information</h4>
                            <p class="cs_blog_title cs_font_17">3.1 During your use of our websites, your visits to individual pages will be tracked and
                              recorded in web server log files ("Log Data"). This Log Data may be utilized by R Scope
                              Group for statistical purposes, recognizing usage patterns, and enhancing the structure
                              and content presentation. The information collected includes referring URLs, browser and
                              device characteristics, IP address, operating system, as well as dates and times of
                              website visits.</p>
                              <p class="cs_blog_title cs_font_17">
                                3.2 Rscope Collective Group may offer third-party services via its website, such as article
                                            recommendations, social login, social sharing, and banners to third-party sites.
                                            Information collected by Rscope Collective Group when you access these third-party services is
                                            processed under this Privacy Policy, while information collected by third-party
                                            operators is governed by their own privacy policies.
                              </p>
                              <p class="cs_blog_title cs_font_17" >3.3 When visiting our website, your browser may generate pop-up advertisements. These ads are
                                produced by other websites you have previously visited or by third-party software on
                                your computer. Rscope Collective Group does not endorse products or services contained in such
                                pop-up advertisements.</p>
                            <p class="cs_blog_title cs_font_17"  >3.4 Our websites may use Google Analytics to collect information about how visitors use our
                                sites. This information is used to compile reports and improve the sites. Google
                                Analytics cookies collect information anonymously, including the number of visitors,
                                referral sources, and visited pages. </p>
                            
                          </div>
                          <div class="privacy-policy" id="item-4">
                            <h4 class="title">4. User Accounts, Registration, and Personalized Services </h4>
                            <p class="cs_blog_title cs_font_17">4.1 To access personalized services, you must register a user account with our websites.
                              During registration, we may ask for personal information, including but not limited to
                              your name, valid e-mail address, affiliation, postal address, phone number, password,
                              academic degree, position within your institution or organization, and research
                              interests. This information is necessary to set up the user account and may be used by RScope Collective Group to fulfill our contract with you (e.g., the publication of your article),
                              for internal purposes, and for targeted marketing.</p>
                              <p class="cs_blog_title cs_font_17">4.2 Rscope Collective Group may contact you via e-mail to draw your attention to content of interest
                                (e.g., new services, products, or publications) and for advertising. You can opt-out of
                                receiving such e-mails by unsubscribing or contacting Rscope Collective Group Support via our
                                Contact Form.</p>
                            
                          </div>
                          <div class="privacy-policy" id="item-5">
                            <h4 class="title">5. International Transfer of Personal Data</h4>
                            <p class="cs_blog_title cs_font_17">5.1 As an international company, Rscope Collective Group may transfer your personal information
                              outside your country of residence to be stored on our servers. We take steps to ensure
                              the continued protection of your personal information wherever it is stored or
                              processed.</p>
                            
                          </div>
                          <div class="privacy-policy" id="item-6">
                            <h4 class="title">6. Your Rights</h4>
                            <p class="cs_blog_title cs_font_17">6.1 As a registered user, you can access your account at any time to make corrections or
                              updates. In accordance with existing data privacy law, you may request information that
                              Rscope Collective Group holds or processes about you. We will provide you with a copy of all
                              personal information upon request and delete this data when you deactivate your account.
                              Some information may remain in storage for a period to comply with legal obligations and
                              resolve disputes.</p>
                            
                          </div>
                          <div class="privacy-policy" id="item-7">
                            <h4 class="title">7. Linked Websites</h4>
                            <p class="cs_blog_title cs_font_17">7.1 Rscope Collective Group may link to other websites not controlled by us. Please note that we cannot
                              be held responsible for the privacy practices of other websites, their services, or
                              content.</p>
                            
                          </div>
                          <div class="privacy-policy" >
                            <h4 class="title " id="item-8">8. Changes to the Privacy Policy</h4>
                            <p class="cs_blog_title cs_font_17">8.1 Rscope Collective Group reserves the right to change this Privacy Policy at any time by posting
                              changes without prior notice. Please check this Privacy Policy periodically for any
                              modifications. Your continued use of any service following the posting of changes will
                              mean that you have accepted and agreed to the changes.</p>
                            
                          </div>
                          <div class="privacy-policy" id="item-9">
                            <h4 class="title">9. How to Contact us</h4>
                            <p class="cs_blog_title cs_font_17">9.1 Rscope Collective Group reserves the right to change this Privacy Policy at any time by posting
                              changes without prior notice. Please check this Privacy Policy periodically for any
                              modifications. Your continued use of any service following the posting of changes will
                              mean that you have accepted and agreed to the changes.</p>
                              <p class="cs_blog_title cs_font_17">9.2  If you have any questions about our Privacy Policy, please use the following form to
                                contact us: <a href="/contact" target="_blank" rel="noopener noreferrer">ContactUs </a>.
                                This Privacy Policy was last updated on 20 January 2024.
                            </p>
                            
                          </div>
                        </div>
                      </div>
                 
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=        Footer Area Start          =-->
        <!--=====================================-->
        <!-- Start Footer Area  -->
     
        <!-- End Footer Area  -->

    </div>

    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    

    {% include './Footer.html' %}
    {% block Footer %}{% endblock %}
    <!-- JS
	============================================ -->
    <!-- Modernizer JS -->
    <script src="assetstwo/js/vendor/modernizr.min.js"></script>
    <!-- Jquery Js -->
    <script src="assetstwo/js/vendor/jquery.min.js"></script>
    <script src="assetstwo/js/vendor/bootstrap.min.js"></script>
    <script src="assetstwo/js/vendor/sal.min.js"></script>
    <script src="assetstwo/js/vendor/jquery.waypoints.js"></script>
    <script src="assetstwo/js/vendor/backtotop.min.js"></script>
    <script src="assetstwo/js/vendor/magnifypopup.min.js"></script>
    <script src="assetstwo/js/vendor/jquery.countdown.min.js"></script>
    <script src="assetstwo/js/vendor/jQuery.rProgressbar.min.js"></script>
    <script src="assetstwo/js/vendor/easypie.js"></script>
    <script src="assetstwo/js/vendor/odometer.min.js"></script>
    <script src="assetstwo/js/vendor/isotop.min.js"></script>
    <script src="assetstwo/js/vendor/imageloaded.min.js"></script>
    <script src="assetstwo/js/vendor/lightbox.min.js"></script>
    <script src="assetstwo/js/vendor/paralax.min.js"></script>
    <script src="assetstwo/js/vendor/paralax-scroll.min.js"></script>
    <script src="assetstwo/js/vendor/jquery-ui.min.js"></script>
    <script src="assetstwo/js/vendor/swiper-bundle.min.js"></script>
    <script src="assetstwo/js/vendor/svg-inject.min.js"></script>
    <script src="assetstwo/js/vendor/vivus.min.js"></script>
    <script src="assetstwo/js/vendor/tipped.min.js"></script>
    <script src="assetstwo/js/vendor/smooth-scroll.min.js"></script>
    <script src="assetstwo/js/vendor/isInViewport.jquery.min.js"></script>

    <!-- Site Scripts -->
    <script src="assetstwo/js/app.js"></script>
</body>


</html>