<!DOCTYPE html>
<html class="no-js" lang="zxx">


<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rscope Collective Group: Advancing Knowledge Through Open Access</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assetsthree/images/favicon.png">
    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assetsthree/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assetsthree/css/vendor/icomoon.css">
    <link rel="stylesheet" href="assetsthree/css/vendor/remixicon.css">
    <link rel="stylesheet" href="assetsthree/css/vendor/magnifypopup.min.css">
    <link rel="stylesheet" href="assetsthree/css/vendor/odometer.min.css">
    <link rel="stylesheet" href="assetsthree/css/vendor/lightbox.min.css">
    <link rel="stylesheet" href="assetsthree/css/vendor/animation.min.css">
    <link rel="stylesheet" href="assetsthree/css/vendor/jqueru-ui-min.css">
    <link rel="stylesheet" href="assetsthree/css/vendor/swiper-bundle.min.css">
    <link rel="stylesheet" href="assetsthree/css/vendor/tipped.min.css">

    <!-- Site Stylesheet -->
    
    <link rel="stylesheet" href="assetsthree/css/app.css">
    

</head>

<body class="sticky-header">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->

    <div id="edublink-preloader">
        <div class="loading-spinner">
            <div class="preloader-spin-1"></div>
            <div class="preloader-spin-2"></div>
        </div>
        <div class="preloader-close-btn-wraper">
            <span class="btn btn-primary preloader-close-btn">
                Cancel Preloader</span>
        </div>
    </div>

    <div id="main-wrapper" class="main-wrapper">

        <!--=====================================-->
        <!--=        Header Area Start          =-->
        <!--=====================================-->
        {% include './MainHeaderHome.html' %}
    {% block MainHeaderHome %}{% endblock %}
        <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->


        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title" style="font-size:27px">Terms &amp; Conditions</h1>
                    </div>
                    
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assetsthree/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assetsthree/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assetsthree/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>

        <!--=====================================-->
        <!--=           Cart Area Start         =-->
        <!--=====================================-->
        <!--<section class="privacy-policy-area terms-condition-area">-->
        <!--    <div class="container">-->
        <!--        <div class="row row--30">-->
        <!--            <div class="col-lg-4">-->
        <!--                <div class="cs_category cs_style_2 cs_white_bg cs_radius_10">-->
        <!--                  <ul class="cs_mp_0">-->
        <!--                    <li class="active"><a href="#item-1">Scope</a></li>-->
        <!--                    <li><a href="#item-2">Offering of Rscope Collective Group</a></li>-->
        <!--                    <li><a href="#item-3">Ordering and Purchasing of -->
        <!--                        Services from Rscope Collective Group</a></li>-->
        <!--                    <li><a href="#item-4">Manuscript and Copyright Issues</a></li>-->
        <!--                    <li><a href="#item-5">Patent Issue</a></li>-->
        <!--                    <li><a href="#item-6">Publication of E-Mail Addresses</a></li>-->
        <!--                    <li><a href="#item-7">Prices, Terms of Payment</a></li>-->
        <!--                    <li><a href="#item-8">Contract Document</a></li>-->
        <!--                    <li><a href="#item-9">Limitation of Liability</a></li>-->
        <!--                    <li><a href="#item-10">Force Majeure</a></li>-->
        <!--                    <li><a href="#item-11">Privacy Policy</a></li>-->
        <!--                    <li><a href="#item-12">Miscellaneous</a></li>-->
                            
        <!--                  </ul>-->
        <!--                </div>-->
        <!--                <div class="cs_height_lg_30"></div>-->
        <!--              </div>-->
        <!--              <div class="col-lg-8">-->
        <!--                <div class="">-->
        <!--                  <div class="privacy-policy" id="item-1">-->
        <!--                    <h4 class="title">1. Scope</h4>-->
        <!--                    <p class="">-->
        <!--                      1.1 These Business Terms and Conditions apply to the-->
        <!--                      conclusion of contracts made via the website of <a href="http://www.rscope.org" target="_blank"-->
        <!--                        rel="noopener noreferrer">www.rscope.org</a>-->
        <!--                      and all subdomains (hereinafter-->
        <!--                      referred to as “Website”) or through related e-mail-->
        <!--                      communication, and to all related services provided by R-->
        <!--                      Scope Group, 198 Avenue De France Paris, France ,75013.-->
        <!--                      (hereinafter referred to as “Rscope Collective Group”).-->
        <!--                    <p class="">1.2-->
        <!--                      Any user of the website or buyer of services shall be-->
        <!--                      referred to as “Customer” or “You/Your” throughout these-->
        <!--                      Terms and Conditions.</p>-->
        <!--                    <p class="">1.3 Any business terms by the Customer-->
        <!--                      which diverge from these Terms and Conditions shall not-->
        <!--                      apply unless expressly confirmed by Rscope Collective Group-->
        <!--                      in written form.</p>-->
        <!--                    <p class=""> 1.4 The Terms of Use of the Website-->
        <!--                      <a href="https://rscope.org/terms" target="_blank" rel="noopener noreferrer">-->
            
        <!--                        (https://rscope.org/terms)-->
        <!--                      </a>-->
        <!--                      constitute an integral part of the present Terms and-->
        <!--                      Conditions.-->
        <!--                    </p>-->
        <!--                    <p class=""> 1.5 In the event of any conflict between these-->
        <!--                      Terms and Conditions and any other terms or information-->
        <!--                      provided by Rscope Collective Group, these Terms and-->
        <!--                      Conditions shall prevail over all other terms and-->
        <!--                      information.</p>-->
        <!--                    </p>-->
        <!--                  </div>-->
        <!--                 <div class="privacy-policy" id="item-2">-->
        <!--                  <h4 class="title">2. Offering of Rscope Collective Group  </h4>-->
            
        <!--                  <p  class="">-->
        <!--                    2.1 Rscope Collective Group only offers scientific-->
        <!--                    publication via its Journals on the Website and editorial-->
        <!--                    services, which are described in § 3.-->
        <!--                    <p  class="">-->
        <!--                      2.2 Rscope Collective Group will use reasonable efforts to-->
        <!--                      expand post-publication coverage of all Rscope Collective-->
        <!--                      Group's journals within the main academic databases,-->
        <!--                      scope-specific databases, and country-specific journal-->
        <!--                      ranking lists. Apart from this § 2.1, Rscope Collective-->
        <!--                      Group shall not owe any further services or results to the-->
        <!--                      Customer under these Terms and Conditions.-->
        <!--                    </p>-->
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
        <!--                 <div class="privacy-policy" id="item-3">-->
        <!--                  <h4 class="title"> 3. Ordering and Purchasing of Services from Rscope Collective-->
        <!--                    Group  </h4>-->
            
        <!--                  <p  class="">-->
        <!--                    3.1 To order a publication service through the Website, the-->
        <!--                    Customer must first register with the Website.-->
        <!--                    <p  class="">-->
                             
        <!--                      3.2 The requirements for registering with the Website are-->
        <!--                      that the Customer is of full age and has full legal-->
        <!--                      capacity.-->
        <!--                    </p>-->
        <!--                    <p class="">-->
        <!--                      3.3 The Customer asks for contracting publication and-->
        <!--                      editorial services with Rscope Collective Group the moment-->
        <!--                      they submit an original scientific article (“Article”) for-->
        <!--                      evaluation through peer-review and possible publication by-->
        <!--                      Rscope Collective Group.-->
        <!--                    </p>-->
        <!--                    <p class="">-->
        <!--                      3.4 The Customer agrees to support open access publishing,-->
        <!--                      allowing unlimited access to their published paper.-->
        <!--                      Additionally, the Customer agrees to the article-->
        <!--                      processing charge ("APC") and is bound to pay the APC-->
        <!--                      after acceptance of the paper for publication.-->
            
        <!--                    </p>-->
        <!--                    <p class="">-->
        <!--                      3.5 When purchasing services from Rscope Collective Group,-->
        <!--                      the Customer has the following cancellation right: The-->
        <!--                      Customer can withdraw their Article and cancel the-->
        <!--                      declared intention to conclude the contract any time-->
        <!--                      during the evaluation (peer-review) of the Article.-->
        <!--                    </p>-->
        <!--                    <p class="">-->
        <!--                      3.6 When offering services to the Customer, R Scope Group-->
        <!--                      has the following cancellation right: Rscope Collective-->
        <!--                      Group may turn down or reject the Article anytime without-->
        <!--                      specifying any reason and thus cancel the conclusion of-->
        <!--                      the contract.-->
        <!--                    </p>-->
        <!--                    <p class="">-->
        <!--                      3.7 In case a Customer pays more than invoiced by-->
        <!--                        Rscope Collective Group, any bank or transaction charges-->
        <!--                        will be deduced from a partial refund of the overpaid-->
        <!--                        amount.-->
        <!--                    </p>-->
        <!--                    <p class="">-->
        <!--                      3.8 Once an article is published, Rscope-->
        <!--                        Collective Group will refund authors in exceptional-->
        <!--                        circumstances only, and a decision will be made on a-->
        <!--                        case-by-case basis.-->
        <!--                    </p>-->
                            
            
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
        <!--                 <div class="privacy-policy" id="item-4">-->
        <!--                  <h4 class="title">4. Manuscript and Copyright Issues </h4>-->
            
        <!--                  <p  class="">-->
        <!--                    4.1 If material from other publications is reproduced in-->
        <!--                        your manuscript, please provide proof that you have obtained-->
        <!--                        the necessary copyright permission.-->
        <!--                    <p  class="">-->
        <!--                      4.2 Your manuscript is accepted for processing on the-->
        <!--                      understanding that it has not been published elsewhere (or-->
        <!--                      submitted to another journal).-->
        <!--                    </p >-->
            
        <!--                    <p class="" >-->
        <!--                      4.3 Your Article, if accepted, will be an open-access-->
        <!--                          article distributed under the terms and conditions of the-->
        <!--                          Creative Commons Attribution License-->
        <!--                          (http://creativecommons.org/licenses/by/4.0/).-->
        <!--                    </p>-->
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
        <!--                 <div class="privacy-policy" id="item-5">-->
        <!--                  <h4 class="title">5. Patent Issues </h4>-->
            
        <!--                  <p  class="">-->
        <!--                    5. Patent Issues By submission of your manuscript, you have-->
        <!--                    to ensure that all patent applications of your manuscript-->
        <!--                    have been filed prior. Publication of a manuscript is likely-->
        <!--                    to reduce or cancel the patentability of any unpatented-->
        <!--                    ideas in the manuscript.-->
                            
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
        <!--                 <div class="privacy-policy" id="item-6">-->
        <!--                  <h4 class="title">6. Publication of E-Mail Addresses </h4>-->
            
        <!--                  <p  class="">-->
        <!--                    6.1 Rscope Collective Group publishes the e-mail addresses-->
        <!--                    of all authors. Thus, the e-mail addresses are visible to-->
        <!--                    other registered customers as well as unregistered visitors-->
        <!--                    to the website. By submitting the Article, the Customer-->
        <!--                    consents to their e-mail address being published in-->
        <!--                    connection with their Article.-->
        <!--                    <p  class="">-->
        <!--                      6.2 If several authors have worked on the Article and their-->
        <!--                      names are mentioned, it is the Customer's responsibility to-->
        <!--                      ensure that all authors are informed that their e-mail-->
        <!--                      addresses will be published. The Customer shall obtain the-->
        <!--                      consent of their co-authors to the publication of their-->
        <!--                      e-mail address. 6.3 By notifying Rscope Collective Group of-->
        <!--                      all the e-mail addresses of the authors involved in the-->
        <!--                      Article, the Customer consents to the terms and conditions-->
        <!--                      pursuant to this § 6.1 and 6.2-->
        <!--                    </p>-->
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
        <!--                 <div class="privacy-policy" id="item-7">-->
        <!--                  <h4 class="title">7. Prices, Terms of Payment </h4>-->
            
        <!--                  <p  class="">-->
        <!--                    7.1 Prices are stated on the following page:-->
        <!--                    <a href="https://www.rescope.org"></a> R Scope Group-->
        <!--                    reserves the right to adjust these prices, and such-->
        <!--                    adjustments will be published on the page before they enter-->
        <!--                    into force.-->
        <!--                    <p  class="">-->
        <!--                      7.2 Discounts on the service price apply for authors-->
        <!--                          affiliated with institutions that have signed up to Rscope-->
        <!--                          Collective Group’s institutional open access program-->
        <!--                          (IOAP) and may be granted to reviewers.-->
        <!--                    </p>-->
        <!--                    <p class="">-->
        <!--                      7.3 Payments to Rscope Collective Group are due within-->
        <!--                      5-10 days of sending the invoice to the Customer.-->
        <!--                    </p>-->
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
        <!--                 <div class="privacy-policy" id="item-8">-->
        <!--                  <h4 class="title">8. Contract Document </h4>-->
            
        <!--                  <p  class="">-->
        <!--                    8.1 Rscope Collective Group makes no provision for a separate-->
        <!--                    contract document based on these Terms and Conditions.-->
        <!--                    However, the Customer may check at any time the ordered-->
        <!--                    services and status of the Article through their personal-->
        <!--                    account on the Website.-->
                           
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
        <!--                 <div class="privacy-policy" id="item-9">-->
        <!--                  <h4 class="title">9. Limitation of Liability</h4>-->
            
        <!--                  <p  class="">-->
        <!--                    9.1  In no event shall Rscope Collective Group, or their-->
        <!--                    respective licensees, employees, agents, suppliers, or-->
        <!--                    contractors be liable for any damages of any nature arising-->
        <!--                    out of or in connection with the use of any Website, its-->
        <!--                    content, or any website to or from which any links may be-->
        <!--                    established.-->
                           
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
        <!--                 <div class="privacy-policy" id="item-10">-->
        <!--                  <h4 class="title">10. Force Majeure</h4>-->
            
        <!--                  <p  class="">-->
        <!--                    10.1   In no event is Rscope Collective Group liable for any-->
        <!--                    failure or delay in the performance of its obligation due to-->
        <!--                    circumstances beyond its control.-->
                           
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
        <!--                 <div class="privacy-policy" id="item-11">-->
        <!--                  <h4 class="title">11. Privacy Policy</h4>-->
            
        <!--                  <p  class="">-->
        <!--                    11.1   The scope and purpose of the collection, processing, and use-->
        <!--                    of personal data necessary for the performance of Rscope-->
        <!--                    Collective Group's tasks are specified in our Privacy-->
        <!--                    Policy. The Privacy Policy can be found under:-->
        <!--                   <a href="https://rscope.org/privacy" target="_blank" rel="noopener noreferrer"> Rscope Collective group privacy</a>.-->
                           
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
        <!--                 <div class="privacy-policy" id="item-12">-->
        <!--                  <h4 class="title">12. Miscellaneous </h4>-->
            
        <!--                  <p  class="">-->
        <!--                    12.1   Paris, France   shall be the place of jurisdiction-->
        <!--                    for all legal disputes arising from these Terms and-->
        <!--                    Conditions.-->
                           
        <!--                  </p>-->
        <!--                  <p class="">-->
            
        <!--                  </p>-->
            
            
            
        <!--                 </div>-->
            
        <!--                </div>-->
            
        <!--              </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</section>-->
              <section class="privacy-policy-area terms-condition-area">
            <div class="container">
                <div class="row row--30">
                    <div class="col-lg-4">
                        <div class="cs_category cs_style_2 cs_white_bg cs_radius_10">
                          <ul class="cs_mp_0">
                            <li class="active"><a href="#item-1">Scope</a></li>
                            <li><a href="#item-2">Offering of Rscope Collective Group</a></li>
                            <li><a href="#item-3">Ordering and Purchasing of 
                                Services from Rscope Collective Group</a></li>
                            <li><a href="#item-4">Manuscript and Copyright Issues</a></li>
                            <li><a href="#item-5">Patent Issue</a></li>
                            <li><a href="#item-6">Publication of E-Mail Addresses</a></li>
                            <li><a href="#item-7">Prices, Terms of Payment</a></li>
                            <li><a href="#item-8">Contract Document</a></li>
                            <li><a href="#item-9">Limitation of Liability</a></li>
                            <li><a href="#item-10">Force Majeure</a></li>
                            <li><a href="#item-11">Privacy Policy</a></li>
                            <li><a href="#item-12">Miscellaneous</a></li>
                            
                          </ul>
                        </div>
                        <div class="cs_height_lg_30"></div>
                      </div>
                      <div class="col-lg-8">
                        <div class="">
                          <div class="privacy-policy" id="item-1">
                            <h4 class="title">1. Scope</h4>
                            <p class="">
                              1.1 These Business Terms and Conditions apply to the
                              conclusion of contracts made via the website of <a href="http://www.rscope.org" target="_blank"
                                rel="noopener noreferrer">www.rscope.org</a>
                              and all subdomains (hereinafter
                              referred to as “Website”) or through related e-mail
                              communication, and to all related services provided by R
                              Scope Group,155 Willowbrook BLVD STE 110 4312 Wayne, NJ 07470
                              (hereinafter referred to as “Rscope Collective Group”).
                            <p class="">1.2
                              Any user of the website or buyer of services shall be
                              referred to as “Customer” or “You/Your” throughout these
                              Terms and Conditions.</p>
                            <p class="">1.3 Any business terms by the Customer
                              which diverge from these Terms and Conditions shall not
                              apply unless expressly confirmed by Rscope Collective Group
                              in written form.</p>
                            <p class=""> 1.4 The Terms of Use of the Website
                              <a href="https://rscope.org/terms" target="_blank" rel="noopener noreferrer">
            
                                (https://rscope.org/terms)
                              </a>
                              constitute an integral part of the present Terms and
                              Conditions.
                            </p>
                            <p class=""> 1.5 In the event of any conflict between these
                              Terms and Conditions and any other terms or information
                              provided by Rscope Collective Group, these Terms and
                              Conditions shall prevail over all other terms and
                              information.</p>
                          </div>
                         <div class="privacy-policy" id="item-2">
                          <h4 class="title">2. Offering of Rscope Collective Group  </h4>
            
                          <p  class="">
                            2.1 Rscope Collective Group only offers scientific
                            publication via its Journals on the Website and editorial
                            services, which are described in § 3.
                            <p  class="">
                              2.2 Rscope Collective Group will use reasonable efforts to
                              expand post-publication coverage of all Rscope Collective
                              Group's journals within the main academic databases,
                              scope-specific databases, and country-specific journal
                              ranking lists. Apart from this § 2.1, Rscope Collective
                              Group shall not owe any further services or results to the
                              Customer under these Terms and Conditions.
                            </p>

            
            
                         </div>
                         <div class="privacy-policy" id="item-3">
                          <h4 class="title"> 3. Ordering and Purchasing of Services from Rscope Collective
                            Group  </h4>
            
                          <p  class="">
                            3.1 To order a publication service through the Website, the
                            Customer must first register with the Website.
                            <p  class="">
                             
                              3.2 The requirements for registering with the Website are
                              that the Customer is of full age and has full legal
                              capacity.
                            </p>
                            <p class="">
                              3.3 The Customer asks for contracting publication and
                              editorial services with Rscope Collective Group the moment
                              they submit an original scientific article (“Article”) for
                              evaluation through peer-review and possible publication by
                              Rscope Collective Group.
                            </p>
                            <p class="">
                              3.4 The Customer agrees to support open access publishing,
                              allowing unlimited access to their published paper.
                              Additionally, the Customer agrees to the article
                              processing charge ("APC") and is bound to pay the APC
                              after acceptance of the paper for publication.
            
                            </p>
                            <p class="">
                              3.5 When purchasing services from Rscope Collective Group,
                              the Customer has the following cancellation right: The
                              Customer can withdraw their Article and cancel the
                              declared intention to conclude the contract any time
                              during the evaluation (peer-review) of the Article.
                            </p>
                            <p class="">
                              3.6 When offering services to the Customer, R Scope Group
                              has the following cancellation right: Rscope Collective
                              Group may turn down or reject the Article anytime without
                              specifying any reason and thus cancel the conclusion of
                              the contract.
                            </p>
                            <p class="">
                              3.7 In case a Customer pays more than invoiced by
                                Rscope Collective Group, any bank or transaction charges
                                will be deduced from a partial refund of the overpaid
                                amount.
                            </p>
                            <p class="">
                              3.8 Once an article is published, Rscope
                                Collective Group will refund authors in exceptional
                                circumstances only, and a decision will be made on a
                                case-by-case basis.
                            </p>
                            
            
                    
            
            
            
                         </div>
                         <div class="privacy-policy" id="item-4">
                          <h4 class="title">4. Manuscript and Copyright Issues </h4>
            
                          <p  class="">
                            4.1 If material from other publications is reproduced in
                                your manuscript, please provide proof that you have obtained
                                the necessary copyright permission.
                            <p  class="">
                              4.2 Your manuscript is accepted for processing on the
                              understanding that it has not been published elsewhere (or
                              submitted to another journal).
                            </p >
            
                            <p class="" >
                              4.3 Your Article, if accepted, will be an open-access
                                  article distributed under the terms and conditions of the
                                  Creative Commons Attribution License
                                  (http://creativecommons.org/licenses/by/4.0/).
                            </p>
                          
            
            
            
                         </div>
                         <div class="privacy-policy" id="item-5">
                          <h4 class="title">5. Patent Issues </h4>
            
                          <p  class="">
                            5. Patent Issues By submission of your manuscript, you have
                            to ensure that all patent applications of your manuscript
                            have been filed prior. Publication of a manuscript is likely
                            to reduce or cancel the patentability of any unpatented
                            ideas in the manuscript.
                            
                          </p>
            
            
            
                         </div>
                         <div class="privacy-policy" id="item-6">
                          <h4 class="title">6. Publication of E-Mail Addresses </h4>
            
                          <p  class="">
                            6.1 Rscope Collective Group publishes the e-mail addresses
                            of all authors. Thus, the e-mail addresses are visible to
                            other registered customers as well as unregistered visitors
                            to the website. By submitting the Article, the Customer
                            consents to their e-mail address being published in
                            connection with their Article.
                            <p  class="">
                              6.2 If several authors have worked on the Article and their
                              names are mentioned, it is the Customer's responsibility to
                              ensure that all authors are informed that their e-mail
                              addresses will be published. The Customer shall obtain the
                              consent of their co-authors to the publication of their
                              e-mail address. 6.3 By notifying Rscope Collective Group of
                              all the e-mail addresses of the authors involved in the
                              Article, the Customer consents to the terms and conditions
                              pursuant to this § 6.1 and 6.2
                            </p>
                          
            
            
            
                         </div>
                         <div class="privacy-policy" id="item-7">
                          <h4 class="title">7. Prices, Terms of Payment </h4>
            
                          <p  class="">
                            7.1 Prices are stated on the following page:
                            <a href="https://www.rescope.org"></a> R Scope Group
                            reserves the right to adjust these prices, and such
                            adjustments will be published on the page before they enter
                            into force.
                            <p  class="">
                              7.2 Discounts on the service price apply for authors
                                  affiliated with institutions that have signed up to Rscope
                                  Collective Group’s institutional open access program
                                  (IOAP) and may be granted to reviewers.
                            </p>
                            <p class="">
                              7.3 Payments to Rscope Collective Group are due within
                              5-10 days of sending the invoice to the Customer.
                            </p>
                          
            
            
            
                         </div>
                         <div class="privacy-policy" id="item-8">
                          <h4 class="title">8. Contract Document </h4>
            
                          <p  class="">
                            8.1 Rscope Collective Group makes no provision for a separate
                            contract document based on these Terms and Conditions.
                            However, the Customer may check at any time the ordered
                            services and status of the Article through their personal
                            account on the Website.
                           
                          </p>
            
            
            
                         </div>
                         <div class="privacy-policy" id="item-9">
                          <h4 class="title">9. Limitation of Liability</h4>
            
                          <p  class="">
                            9.1  In no event shall Rscope Collective Group, or their
                            respective licensees, employees, agents, suppliers, or
                            contractors be liable for any damages of any nature arising
                            out of or in connection with the use of any Website, its
                            content, or any website to or from which any links may be
                            established.
                           
                          </p>
            
            
            
                         </div>
                         <div class="privacy-policy" id="item-10">
                          <h4 class="title">10. Force Majeure</h4>
            
                          <p  class="">
                            10.1   In no event is Rscope Collective Group liable for any
                            failure or delay in the performance of its obligation due to
                            circumstances beyond its control.
                           
                          </p>
            
            
            
                         </div>
                         <div class="privacy-policy" id="item-11">
                          <h4 class="title">11. Privacy Policy</h4>
            
                          <p  class="">
                            11.1   The scope and purpose of the collection, processing, and use
                            of personal data necessary for the performance of Rscope
                            Collective Group's tasks are specified in our Privacy
                            Policy. The Privacy Policy can be found under:
                           <a href="https://rscope.org/privacy" target="_blank" rel="noopener noreferrer"> Rscope Collective group privacy</a>.
                           
                          </p>
            
            
            
                         </div>
                         <div class="privacy-policy" id="item-12">
                          <h4 class="title">12. Miscellaneous </h4>
            
                          <p  class="">
                            12.1   NJ,USA  shall be the place of jurisdiction
                            for all legal disputes arising from these Terms and
                            Conditions.
                           
                          </p>
                          <p class="">
            
                          </p>
            
            
            
                         </div>
            
                        </div>
            
                      </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=        Footer Area Start          =-->
        <!--=====================================-->
        <!-- Start Footer Area  -->
       
        <!-- End Footer Area  -->

    </div>

    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    
    {% include './Footer.html' %}
    {% block Footer %}{% endblock %}
    <!-- JS
	============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr.min.js"></script>
    <!-- Jquery Js -->
    <script src="assetsthree/js/vendor/jquery.min.js"></script>
    <script src="assetsthree/js/vendor/bootstrap.min.js"></script>
    <script src="assetsthree/js/vendor/sal.min.js"></script>
    <script src="assetsthree/js/vendor/jquery.waypoints.js"></script>
    <script src="assetsthree/js/vendor/backtotop.min.js"></script>
    <script src="assetsthree/js/vendor/magnifypopup.min.js"></script>
    <script src="assetsthree/js/vendor/jquery.countdown.min.js"></script>
    <script src="assetsthree/js/vendor/jQuery.rProgressbar.min.js"></script>
    <script src="assetsthree/js/vendor/easypie.js"></script>
    <script src="assetsthree/js/vendor/odometer.min.js"></script>
    <script src="assetsthree/js/vendor/isotop.min.js"></script>
    <script src="assetsthree/js/vendor/imageloaded.min.js"></script>
    <script src="assetsthree/js/vendor/lightbox.min.js"></script>
    <script src="assetsthree/js/vendor/paralax.min.js"></script>
    <script src="assetsthree/js/vendor/paralax-scroll.min.js"></script>
    <script src="assetsthree/js/vendor/jquery-ui.min.js"></script>
    <script src="assetsthree/js/vendor/swiper-bundle.min.js"></script>
    <script src="assetsthree/js/vendor/svg-inject.min.js"></script>
    <script src="assetsthree/js/vendor/vivus.min.js"></script>
    <script src="assetsthree/js/vendor/tipped.min.js"></script>
    <script src="assetsthree/js/vendor/smooth-scroll.min.js"></script>
    <script src="assetsthree/js/vendor/isInViewport.jquery.min.js"></script>

    <!-- Site Scripts -->
    <script src="assetsthree/js/app.js"></script>
</body>


</html>